body{
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    height: 1640px;
    width: 1160px;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content:center; 
    
    text-align: center; 
}

#text-body {
    background-color:#782221;
}

#area-top { 
    background-color:#831571;
    color: white;
    order: 0;
}

#area-grey { 
    display: flex;
    background-color: #2c1d27;
    color: white;
    justify-content: space-between ;
    order: 1;
}

#area-grey-1 { 
    background-color:#10701c;
    grid-column:1;
    margin : 1em;
    
}

#area-grey-2 { 
    background-color:#2a2178;
    grid-column:2;
    margin : 1em 2em 1em 0;
}

#area-grey-3 { 
    background-color:#a8a621;
    grid-column:3;
    margin : 1em;
}

#area-left { 
    color: white;
    text-align: start;
    order: 2;
}

#area-left h1 {
    color: black;
    background-color: #dbc2a4;
}

#area-white { 
    background-color: white;
    color: black;
    text-align: start;
    order: 3;
}

#area-white h1 {
    background-color: #dbc2a4;
}

#area-bottom {
    color: white;
    order: 4;
}